<p>You have a new account with PowerHub System</p>
<p style="font-weight: bold;">
    Please activate your account by click to this link
</p>
<a href="{{ link }}" style="display: inline-block; color: #fff; border-radius: 4px; background-color: #ff7522; text-decoration: none; padding: 10px 15px; text-align: center;">
    Activate Account
</a>
<p style="font-style: italic; font-weight: bold;">
    Please note that <span style="color: #ff7522">your account will not be active</span> unless you click the link above.
</p>
<p style="font-style: italic;">
    If you didn't make this request, please disregard this email.
</p>