<p style="font-weight: bold;">
    You has requested to change your password.
</p>
<p>
    Please click the link below to change your password now.
</p>
<a href="{{ resetLink }}" style="display: inline-block; color: #fff; border-radius: 4px; background-color: #ff7522; text-decoration: none; padding: 10px 15px; text-align: center;">
    Reset Password
</a>
<p style="font-style: italic;">
    If you didn't make this request, please disregard this email.
</p>
<p style="font-style: italic; font-weight: bold;">
    Please note that <span style="color: #ff7522">your password will not change</span> unless you click the link above
    and create a new one.
</p>