<p style="font-weight: bold;">
    Bạn vừa gửi yêu cầu cấp lại mật khẩu.
</p>
<p>
    Vui lòng nhấp vào nút "Cấp Lại Mật Khẩu" dưới đây.
</p>
<a href="{{ resetLink }}" style="display: inline-block; color: #fff; border-radius: 4px; background-color: #ff7522; text-decoration: none; padding: 10px 15px; text-align: center;">
    Cấp Lại Mật Khẩu
</a>
<p style="font-style: italic;">
    Nếu bạn không thực sự gửi yêu cầu này, hãy bỏ qua nó.
</p>
<p style="font-style: italic; font-weight: bold;">
    Xin lưu ý rằng <span style="color: #ff7522">mật khẩu của bạn sẽ không thay đổi</span> trừ khi bạn nhấp vào nút "Cấp
    Lại Mật Khẩu" trên và thay đổi nó.
</p>